.ui.borderless.topmenu.menu {
  background-color: black;
  margin: 0;
  border-radius: 0;
}


.footer-background {
  background-color:  black;
}

.centered.column {
  color: white;
  font-size: 25px;
  margin-left:450px;
}

.ui.segment {
  font-size: 25px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}

.grid-item {
  color: black;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}